/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

body{
}
a{
  text-decoration: none;
  color: $link-blue;
  &:hover{
    text-decoration: underline;
    color: $button-blue-hover;
  }
}
h1, h2{
  font-family: $amatic;
}
.header__site-link:link,
.header__site-link:visited,
{
  color: white;
}
#site-name{
  font-size: 5em;
  line-height: 1em;
}
#site-slogan{
  color: white;
  font-style: italic;
  font-size: 80%;
}
.header__site-link:hover, .header__site-link:focus{
  text-decoration: none;
  color: $footer-color;
}
#page{
  width: 100%;
  background-color: white;
}
#header{
  text-align: center;
  padding: 10px 0 10px 0;
  background-color: $header-color;
  background-color: $button-blue;
  .header__name-and-slogan{
    float: none;
  }
}
#content{
  padding: 0;
}
#footer{
  background-color: $footer-color;
  text-align: center;
  padding: 0;
}
#main{
  padding-top: 0;
}
.front h1#page-title{
  display: none;
}
#block-block-4{
  width: 100%;
  margin-bottom: 0;
  padding: 10px 0px 20px 0px;
  background-color: $footer-color;
  p{
    max-width: 480px;
    margin: 10px auto;
    padding: 0 10px;
    text-align: center;
  }
}
#formwrapper{
  position: relative;
}
.front h2{
  font-size: 3em;
  color: white;
  background-color: $button-blue-hover;
  width: 180px;
  margin: -15px auto 30px auto;
  padding: 4px;
  line-height: 1em;
  text-align: center;
}
#person-node-form{
  max-width: 400px;
  background-color: transparent;
  margin: 0 auto 30px auto;
  padding: 0 20px 20px 20px; 
  #edit-actions{
    text-align: center;
  }
  .form-item{
    margin-top: 0;
  }
}
#block-block-5,
#block-views-counter-seen-the-gap-block{
  .counter-title{
    font-family: $amatic;
    font-size: 40px;
    display: block;
    line-height: 1em;
  }
  background-color: #262626;
  padding: 10px 0;
  color: white;
}
.region-bottom{
  text-align: center;
  overflow: hidden;
  color: white;
  font-size: $base-font-size * 0.8;
  background-color: $darkgrey;
  a{
    color: white;
    text-decoration: underline;
  }
}
input[type="submit"]{
  color: black;
  background-color: $calltoaction;
  font-family: $amatic;
  font-size: 2.2em;
  line-height: 1em;
  padding: 9px 35px;
  font-weight: bold;
  @include border-radius(8px);
  border: none;
  &:hover{
    background-color: $button-orange-hover;
    color: white;
  }
}
.counter-link,
a.calltoaction,
.calltoaction{
  font-family: $amatic;
  text-align: center;
  @include border-radius(5px);
  background-color: $calltoaction;
  color: black;
  padding: 2px 10px;
  font-size: 24px;
  &:hover{
    text-decoration: none;
    background-color: $button-orange-hover;
    color: white;
  }
}
.counter-link{
  font-size: 30px;
  display: block;
  width: 200px;
  padding: 6px 10px;
  margin: 10px auto;
}
.view-mode-teaser{
  width: 200px;
  float: left;
  padding: 10px;
  margin: 20px;
  background-color: white;
  border: 1px solid $footer-color;
  @include border-radius(5px);
  label{
    font-weight: normal;
  }
  .vocabulary-gender{
    margin-left: 20px;
  }
  .field-name-node-link{
    font-size: 24px;
    padding: 4px;
    display: block !important;
    font-family: $amatic;
    text-align: center;
    @include border-radius(5px);
    background-color: $calltoaction;
    &:hover{
      background-color: $button-orange-hover;
    }
    a{
      color: black;
      &:hover{
        color: white;
        text-decoration: none;
      }
    }
  }
  .field-name-field-age{
    .field-item{
      font-size: $h1-font-size;
      font-weight: bold;
    }
  }
  .field-name-field-postcode{
    font-size: $h2-font-size;
    margin: 10px 0;
    display: block !important;
  }
  .field{
    display: inline;
  }
  .field-name-field-gender{
    float: left;
    margin-right: 20px;
  }
}
.compact-form-label{
  top: 12px;
  left: 15px;
  color: #bbb;
  font-weight: normal;
  font-size: 20px;
}
.form-field-name-field-age,
.form-field-name-field-postcode{
  width: 40%;
  margin: 20px 5%;
  float: left;
  overflow: hidden;
  input{
    padding: 10px;
    font-size: 20px;
    border: 2px solid $darkgrey;
    @include border-radius(5px);
  }
}
.vertical-tabs{
  display: none;
}
.iconwrapper{
  width: 50%;
  float: left;
}
#maleicon, #femaleicon{
  height: 195px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
#maleicon{
  background: transparent url(../images/maleunselected.png) 0 0 no-repeat;
  &.selected{
    background-image: url(../images/male.png);
  }
}
#femaleicon{
  background: transparent url(../images/femaleunselected.png) 0 0 no-repeat;
  &.selected{
    background-image: url(../images/female.png);
  }
}
#edit-field-indigenous{
  clear: both;
  color: $darkgrey;
  font-size: 20px;
  label{
    font-weight: normal;
  }
  .form-type-radio{
    width: 50%;
    text-align: center;
    float: left;
    margin-top: 10px;
  }
  margin-bottom: 20px;
  overflow: hidden;
}
.form-item-field-gender-und{
  margin: 10px 0 10px 0 !important;
  label[for="edit-field-gender-und"]{
    display: none;
  }
  .form-item{
    width: 50%;
    float: left;
    font-size: $h2-font-size;
    color: $darkgrey;
    input{
      margin-left: 40px;
    }
  }
}
.field-name-indigenous-compare{
  font-family: $amatic;
  font-size: 22px;
}
.page-everyone{
  #main{
    background-color: $page-color;
  }
  #page-title{
    display: none;
  }
}
.view-header{
  background-color: $footer-color;
  text-align: center;
  overflow: hidden;
}
.page-node{
  #page-title{
    text-align: center;
    font-family: $base-font-family;
  }
  h1{
    text-align: center;
  }
  p{
    max-width: 480px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #262626;
  }
  #main, #page{
    background-color: $page-color;
  }
  .group-left{
    width: 130px;
    height: 130px;
    padding: 10px;
    background-color: white;
    border: 10px solid $calltoaction;
    @include border-radius(90px);
    .field-name-field-gender{
      float: left;
      margin-left: 20px;
      margin-top: 10px;
    }
    h2{
      font-size: 3em;
      margin: 0;
    }
  }
  .node-person{
    max-width: 480px;
    margin: 10px auto;
  }
  .group-middle{
    padding-top: 50px;
    width: 140px;
    text-align: center;
  }
  .group-right{
    padding-top: 30px;
    width: 170px;
    float: left;
    .field-name-field-gender{
      float: left;
    }
    h2{
      font-size: 2.5em;
      line-height: 1em;
      margin: 0;
    }
  }
  .resultwrapper{
    max-width: 480px;
    background-color: white;
    border: 1px solid $footer-color;
    @include border-radius(5px);
    margin: 20px auto;
    h2{
      line-height: 1em;
      font-size: 26px;
      background-color: $button-blue-hover;
      color: white;
      text-align: center;
      padding: 6px 30px;
      width: 160px;
      margin: -10px auto 10px auto;
    }
    p{
      text-align: center;
      color: $darkgrey;
      margin: 10px 0;
    }
  }
}
@media all and (max-width: 640px){
  #page{
    background-color: white;
  }
  #header{
    //background-color: white;
    //padding-bottom: 0;
    .header__site-link:link, .header__site-link:visited{
      //color: $button-blue;
    }
    .header__site-link:hover, .header__site-link:focus{
      //color: $button-blue-hover;
    }
  }
  #person-node-form{
    border: none;
  }
}
@media all and (max-width: 480px){
  .group-middle{
    display: none;
  }
  .group-right{
    float: right !important;
  }
  .resultwrapper{
    border: none !important;
    @include border-radius(0);
    padding-bottom: 10px;
  }
  .form-item-field-gender-und .form-item input{
    margin-left: 10px;
  }
  .form-field-name-field-age, .form-field-name-field-postcode{
    margin-left: 5px;
    margin-right: 5px;
  }
  .page-node .group-left{
    border: none;
    padding: 0;
    margin-left: 5px;
  }
  .page-node .group-left{
    padding-top: 10px;
  }
}