/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

body{
}
a{
  color: $link-blue;
  &:hover{
    text-decoration: none;
  }
}
h1, h2{
  font-family: $amatic;
}
.header__site-link:link,
.header__site-link:visited,
{
  color: white;
}
#site-name{
  font-size: 5em;
  line-height: 1em;
}
.header__site-link:hover, .header__site-link:focus{
  text-decoration: none;
  color: $footer-color;
}
#page{
  width: 100%;
  //background-color: $page-color;
  background-color: white;
}
#header{
  text-align: center;
  padding: 10px 0 10px 0;
  background-color: $header-color;
  background-color: $button-blue;
  .header__name-and-slogan{
    float: none;
  }
}
#footer{
  background-color: $footer-color;
  text-align: center;
}
#main{
  padding-top: 0;
}
.front h1#page-title{
  display: none;
}
#block-block-4{
  max-width: 520px;
  margin: 10px auto 20px auto;
}
#person-node-form{
  max-width: 400px;
  //border: 1px solid $footer-color;
  background-color: white;
  //@include border-radius(10px);
  margin: 0 auto 30px auto;
  padding: 0 20px 20px 20px; 
  #edit-actions{
    text-align: center;
  }
}
.region-bottom{
  text-align: center;
  overflow: hidden;
  font-size: $base-font-size * 0.8;
  background-color: $page-color;
}
input[type="submit"]{
  color: white;
  background-color: $button-blue;
  font-family: $amatic;
  font-size: 2.2em;
  line-height: 1em;
  padding: 9px 35px;
  font-weight: bold;
  @include border-radius(8px);
  border: none;
  &:hover{
    background-color: $button-blue-hover;
  }
}
.view-mode-teaser{
  width: 220px;
  float: left;
  .field{
    display: inline;
  }
  .field-name-field-gender{
    float: left;
    margin-right: 20px;
  }
}
.compact-form-label{
  top: 12px;
  left: 15px;
  color: #bbb;
  font-weight: normal;
  font-size: $h2-font-size;
}
.form-field-name-field-age,
.form-field-name-field-postcode{
  width: 40%;
  margin: 5%;
  float: left;
  overflow: hidden;
  margin-bottom: 20px;
  input{
    padding: 10px;
    font-size: $h2-font-size;
    border: 2px solid $darkgrey;
    @include border-radius(5px);
  }
}
.vertical-tabs{
  display: none;
}

@media all and (max-width: 640px){
  #page{
    background-color: white;
  }
  #header{
    background-color: white;
    padding-bottom: 0;
    .header__site-link:link, .header__site-link:visited{
      color: $button-blue;
    }
    .header__site-link:hover, .header__site-link:focus{
      color: $button-blue-hover;
    }
  }
  #person-node-form{
    border: none;
  }
  #block-block-4{
    margin: 10px 20px;
    padding: 10px 20px;
    border-top: 2px solid $darkgrey;
    border-bottom: 2px solid $darkgrey;
    p{
      margin: 5px 0;
    }
  }
}